## Question 1

Input
a = [100,200,300,400,500]  
Output
a = [500,400,300,200,100]

In [1]:
a = [100,200,300,400,500]                                            #Input

In [2]:
a[::-1]                                                         #1st method

[500, 400, 300, 200, 100]

In [10]:
a.reverse()
print(a)                                                               #2nd method

[100, 200, 300, 400, 500]

In [11]:
a.sort(reverse=True)                                                       #3rd method
print(a)

[500, 400, 300, 200, 100]

## Question 2

input 

list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]

Output

['My', 'name', 'is', 'Kelly']

In [12]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]

In [18]:
for i in enumerate( list1):
    for j in enumerate(list2):
        print(i+j)

(0, 'M', 0, 'y')
(0, 'M', 1, 'me')
(0, 'M', 2, 's')
(0, 'M', 3, 'lly')
(1, 'na', 0, 'y')
(1, 'na', 1, 'me')
(1, 'na', 2, 's')
(1, 'na', 3, 'lly')
(2, 'i', 0, 'y')
(2, 'i', 1, 'me')
(2, 'i', 2, 's')
(2, 'i', 3, 'lly')
(3, 'Ke', 0, 'y')
(3, 'Ke', 1, 'me')
(3, 'Ke', 2, 's')
(3, 'Ke', 3, 'lly')

In [25]:
for i,j in (zip(list1,list2)):                                #1st method
    print(i+j)                                              #zip is used to concat two list index-wise

My
name
is
Kelly

In [26]:
[i+j for i,j in zip(list1,list2)]                              #2nd method

['My', 'name', 'is', 'Kelly']

## Question 3

Input 

aList = [1, 2, 3, 4, 5, 6, 7]

Output

[1, 4, 9, 16, 25, 36, 49]

In [27]:
aList = [1, 2, 3, 4, 5, 6, 7]

In [28]:
for i in aList:
    print(i*i)

1
4
9
16
25
36
49

In [29]:
[i*i for i in aList]

[1, 4, 9, 16, 25, 36, 49]

## Question 4

Input 

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

Output

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [30]:
list1 = ["Hello ", "take "] 
list2 = ["Dear", "Sir"]

In [34]:
for i in list1:
    for j in list2:
        print(i+j)

Hello Dear
Hello Sir
take Dear
take Sir

In [35]:
[i+j for i in list1 for j in list2]

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [44]:
a = [1,2,3]

## Question 5

Input 

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

Output

10 400
20 300
30 200
40 100

In [46]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

In [47]:
for i in list1:
    print(i)
for j in list2[::-1]:
    print(j)

10
20
30
40
400
300
200
100

In [53]:
[i for i in zip(list1,list2[::-1])]

[(10, 400), (20, 300), (30, 200), (40, 100)]

## Question 6

Input 
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

Output

["Mike", "Emma", "Kelly", "Brad"]

In [54]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

In [56]:
list(filter(None,list1))

['Mike', 'Emma', 'Kelly', 'Brad']

### Question 7

Input 
a = [10,5,30,25,30,30]

Output
a = [10, 5, 25]

In [84]:
a

[10, 5, 30, 25, 30, 30]

In [85]:
val = 30
for i in a:
    if i != val:
        print(i)

10
5
25

In [86]:
val = 30

In [87]:
[ i for i in a if i != val]

[10, 5, 25]

## Question 8

In [123]:
b = [10,[20],30]

In [124]:
len(b)

3

In [125]:
b[1][0]

20

## Question 9

In [141]:
a = ['apple','mango','orange']

In [142]:
a.count('apple')

1

In [143]:
len(a)

3

In [144]:
a.reverse
print(a)

['apple', 'mango', 'orange']

In [145]:
a[::-1]

['orange', 'mango', 'apple']

In [146]:
a.append('banana')
print(a)

['apple', 'mango', 'orange', 'banana']

In [147]:
a.remove('apple')
print(a)

['mango', 'orange', 'banana']

In [148]:
a.insert(1,'apple')
print(a)

['mango', 'apple', 'orange', 'banana']

In [149]:
a.pop(1)

'apple'

In [151]:
print('Updated list is :',a)

Updated list is : ['mango', 'orange', 'banana']

## Question 10

Input 

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

Output

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [152]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
print(list1)

[10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [153]:
list1[2][2].append(7000)

In [154]:
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Question 11 :- Sum of a list

In [155]:
new_list = [10,20,30,40]

In [160]:
total = 0
for i in new_list:
    total = total +i
print(total)

100

## Question 12 :- Product of a list

In [161]:
new_list = [10,20,30,40]

In [163]:
mul = 1
for i in new_list:
    mul = mul*i
print(mul)

240000